@import url('https://fonts.googleapis.com/css2?family=Itim&family=Mitr&display=swap');

* {
    margin: 0;
    font-family: 'Itim', cursive;
    font-family: 'Mitr', sans-serif;
    font-size: 16px;
    padding: 0;
}



@keyframes blinker {
    60% {
        opacity: 0;
    }
}

@-webkit-keyframes blinker {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.waitingForConnection {
    animation-name: blinker;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.5, 0, 1, 1);
    animation-duration: 1.2s;
}

.badge-online {
    font-size: .75em;
    color: white;
    width: 4rem;
    background-color: #00b8c5;
}

.badge-offline {
    font-size: .75em;
    color: white;
    width: 4rem;
    background-color: #ff3b3b;
}

.body_index {
    background-color: #85e2f7;
}
.edit-login {
    background: rgb(161, 244, 255);
    background: linear-gradient(0, rgb(161, 244, 255) 0%, rgba(131,255,125,1) 100%);
    color: rgb(94, 17, 145);
}
.edit-head {
    background: rgb(161,198,255);
    background: linear-gradient(180deg, rgba(161,198,255,1) 0%, rgba(131,255,125,1) 100%);
    color: rgb(94, 17, 145);
}

.card-head {
    background: rgb(161,198,255);
    background: linear-gradient(180deg, rgba(161,198,255,1) 0%, rgba(131,255,125,1) 100%);
    color: rgb(94, 17, 145);
}

.login-btn {
    color: white;
    background-color: rgb(83, 163, 15);
    width: 200px;
    border-radius: 20px;
    border-width: 3px;
    border-color: rgb(224, 250, 165);
    height: 45px;
}

button.login-btn:active,
button.login-btn:hover {
    background-color: rgba(0, 129, 34, 1);
    border-color: yellowgreen;
}

.btn-moph {
    color: white;
    background-color: rgb(0, 95, 204);
    width: 220px;
    border-radius: 10px;
    border-color: white;
    border-width: 2px;
}

.btn-moph:active,
.btn-moph:hover {
    color: white;
    background-color: rgb(0, 50, 107);

}

.bg-color {
    background: rgb(114, 239, 255);
    background: linear-gradient(22deg, rgba(114, 239, 255, 1) 0%, rgba(101, 255, 123, 1) 100%);
}

.bg-color:hover,
.bg-color:active {
    background: rgb(7, 206, 233);
    background: linear-gradient(22deg, rgb(0, 195, 221) 0%, rgb(3, 224, 36) 100%);
}