<!DOCTYPE html>
<html lang="en">


<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" href="/img/index.png" type="image/x-icon" />
<title>Document</title>
</head>

<body>

    <button>Get JSON data</button>
    <div id="1"></div>
   

    <script src="/js/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("button").click(function () {
                $.ajax({
                    dataType: "json",
                    url: "https://raw.githubusercontent.com/sarawut-pcru/Thailand_Map/main/json/provinces.json",
                    success: function (result) {
                     //  const json = JSON.stringify(response);
                        var user ='';
                            for (ii in result) {		
                                user += result[ii].name_th; 
                                user +='<br/>'
                            //     for (kk in result[ii].leave) {				
                               
                            //     // if(result[ii].leave[kk].to_id == "1"){

                            //     // console.log(result[ii].name_th); 
                            //     // }
                            // }
                        }
                              // a simple user
                         $('#1').html(user);

                    }
                });

            });
        });

    </script>
</body>

</html>