@import url('https://fonts.googleapis.com/css2?family=Itim&family=Mitr&display=swap');

* {
    margin: 0;
    font-family: 'Itim', cursive;
    font-family: 'Mitr', sans-serif;
    font-size: 16px;
    padding: 0;
}

.body_index {
    background-color: #086b02;
}

.edit-head {
    background: rgb(0, 193, 33);
    background: linear-gradient(180deg, rgba(0, 193, 33, 1) 0%, rgba(14, 74, 0, 1) 100%);
}

.card-head {
    background: rgb(83, 163, 15);
    background: linear-gradient(0deg, rgba(83, 163, 15, 1) 14%, rgba(0, 129, 34, 1) 100%);
    color: white;
}

.login-btn {
    color: white;
    background-color: rgb(83, 163, 15);
    width: 200px;
    border-radius: 20px;
    border-width: 3px;
    border-color: rgb(224, 250, 165);
    height: 45px;
}

button.login-btn:active,
button.login-btn:hover {
    background-color: rgba(0, 129, 34, 1);
    border-color: yellowgreen;
}

.btn-moph {
    color: white;
    background-color: rgb(41, 204, 0);
    width: 220px;
    border-radius: 10px;
    border-color: white;
    border-width: 2px;
}

.btn-moph:active,
.btn-moph:hover {
    color: white;
    background-color: rgb(0, 139, 19);

}

.card-head {
    background: rgb(32, 159, 0);
    background: linear-gradient(180deg, rgba(32, 159, 0, 1) 25%, rgba(2, 50, 8, 1) 84%);
}